<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionsAndLoopsVue from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/Formbindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <br />
    <FormBindings></FormBindings>
    <br />
    <ConditionsAndLoopsVue></ConditionsAndLoopsVue>
    <br />
    <br />
    <HandingUserInput></HandingUserInput>
    <CalComponent></CalComponent>
    <HelloWorld></HelloWorld>
    <AttributeBindingsVue></AttributeBindingsVue>
  </div>
</template>

<style scoped>
button,
a {
  display: block;
  margin-bottom: 1em;
}
</style>
